.diagram-component {
    margin: 1% 0 1% 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(100.04% 253.78% at 0% 0%, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0.07) 100%);
    border: 0.01rem solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    border-radius: 1rem;
    backdrop-filter: blur(3rem);
}

.zoom {
    cursor: pointer;
}

.group {
    display: flex;
    flex-direction: column;
    width: max-content;
    height:max-content;
    position:absolute;
    top: 68%;
    right:3.5vw;
    float:right;
    z-index: 2;
}

.zoom {
    border-radius: 50%;
    padding: 30%;
    width: 1.5rem;
    height: 1.5rem;
    margin:0 0 30% 0;
    backdrop-filter: blur(3rem);
    background: radial-gradient(100.04% 253.78% at 0% 0%, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0.07) 100%);
}
.zoom img {
    /* height: 100%; */
    width: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.panel {
    position:relative;
    height: 30rem;
}