.diagram-component {
    /* margin: 1% 0 1% 0; */
    width: 100%;
    height: 100%;
    background: radial-gradient(100.04% 253.78% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.04) 100%);
    border: 0.01rem solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    border-radius: 1rem;
    overflow: hidden;
    backdrop-filter: blur(3rem);
}

.bottom-group {
    top: 65%;
}

.top-group {
    top: 2%;
}

.top-group,
.bottom-group {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    position: absolute;
    right: 3.5vw;
    float: right;
    z-index: 2;
}

.alternate {
    background-color: #FF6C00;
}

.zoom {
    backdrop-filter: blur(3rem);
    background: radial-gradient(100.04% 253.78% at 0% 0%, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0.07) 100%);
}

.zoom,
.alternate {
    cursor: pointer;
    border-radius: 50%;
    padding: 40%;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0 30% 0;
}

.zoom img, .alternate img {
    width: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.panel {
    position:relative;
    /* height: 30rem; */
    height: calc(100% - 3em - 2%);
}