

.movie {
    position: relative;
    z-index: 2;
    width: var(--movie-width);
    height: var(--movie-height);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal; 
    /* background-color: #282D4F; */
}

.movie::after {
    content: "";
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
    border-radius: calc(var(--movie-width) * 30 / 440);
    /* backdrop-filter: blur(30px);
    background: 
        radial-gradient(100.04% 253.78% at 0% 0%, 
        rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0.1) 100%);  
    background: rgba(255, 255, 255, 0.1);        
    box-shadow: 0 0 0 1px rgb(255, 255, 255, 0.25); */
    
}

#title {
    /* background-color: red; */
    position: absolute;
    top: calc(var(--movie-width) * 70 / 440);
    height: calc(var(--movie-width) * 20 / 440);
    text-align: center;
    font-size: 100%;
    color: #f4f4f4;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.head {
    position: absolute;
    font-size: var(--head-font);
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    counter-reset: step;
}

.head li {
    list-style-type: none;
    width: calc(var(--movie-width) * 40 / 440);
    height: calc(var(--movie-width) * 35 / 440);
    padding-top: calc(var(--movie-width) * 5 / 440);
    border-radius: 50%;
    text-align: center;
    text-justify: center;
    justify-content: center;
    align-items: center;
    color: #f4f4f4;
}

.head li::before {
    content: counter(step);
    counter-increment: step;
}

.head li::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 25%;
    height: 1.5px;
    transform: translateY(calc(var(--movie-width) * 14 / 440));
    background: rgba(255, 255, 255, 0.452);
}

.head li:last-child::after  {
    width: 0;
}

.head .completeStep::after {
    background: rgb(255, 255, 255);
}


.head .completeStep {
    background: #1c1f36;  
    box-shadow:  0 0 0 1px #ffffff;
}

.head .inStep {
    background: #392A50; 
    box-shadow: 0 0 10px 1px #ffffff;
    transition: 0.25s;
}

.head .uncompleteStep {
    background: #392A50; 
    box-shadow: 0 0 0 1px rgb(255, 255, 255, 0.3);
}

.disabled {
    box-shadow: 0 0 0 0px rgba(255, 255, 255) inset;
}

.left {
    left: 5%;
}

.right {
    right: 5%;
}


.right, .left {
    position: absolute;
    cursor: pointer;
    width: calc(var(--movie-width) * 150 / 440);
    height: calc(var(--movie-width) * 50 / 440);
    border-radius: calc(var(--movie-width) * 25 / 440);
    /* background: 
        radial-gradient(100.04% 253.78% at 0% 0%, 
        rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);   */
    color: white;
    top: auto;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* transition: 0.25s; */
}

.enabled {    
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
}

.enabled:hover{
    box-shadow: 0 0 0 1px rgba(255, 255, 255) inset;
}

.page , .page2 , .page3 , .page4 , .pageC {
    /* background-color: yellow; */
    position: absolute;
    width: 85%;
    height: 83%;
    top: calc(var(--movie-width) * 90 / 440);
    bottom: calc(var(--movie-width) * 50 / 440);
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    animation: pagevisit 0.5s 1 linear both;
    animation-timing-function: ease;
}

.page2 ,.page3 ,.page4 , .pageC{   
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.page > div ,.page2 > div,.page3 > div,.page4 > div {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    animation: infovisit 0.25s 1 linear both;
    animation-timing-function: ease;
    cursor: pointer;
    overflow: hidden;
}

.confirm {
    box-shadow: 0 0 0 0 #fff;
    background: #FF6C00;
}

.confirm:hover {
    cursor: pointer;
}

.confirm , .right , .left {
    padding-bottom: calc(var(--movie-width) * 2 / 440);
    font-size: calc(var(--movie-width) * 20 / 440);
}


@keyframes confirm {
    0%{
        opacity: 0;
        width: 0;
    }
    100%{
        opacity: 1;
        width: calc(var(--movie-width) * 150 / 440);
    }
}

@keyframes confirmP {
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.confirm {
    animation: confirm 0.5s 1 both;
    /* transition: 3s; */
}

.confirm p {
    animation: confirmP 0.5s 1 both;
}

.left img,.right img {
    width: 20%;
    opacity: 0.7;
    transition: 0.5s;
}

.enabled:hover img {
    opacity: 1;
}





.disabled img,.invalid img,.invalid p {
    opacity: 0.2;
}

.disabled 
/* ,.invalid */
 {
    background: 
            radial-gradient(100.04% 253.78% at 0% 0%, 
         rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
}