:root {
    --movie-width: 290px;
    --movie-height: calc(var(--movie-width)*95/44);
    --head-font: calc(var(--movie-width)*20/440);

    --selector-color: #731A39;
    --selector-border: white;

    --selector-hover-color: #731A39;
    --selector-hover-border: rgb(255, 255, 255);

    --selected-color: #A0204C;
    --selected-border:white;
}

.movie {
    position: relative;
    z-index: 2;
    width: var(--movie-width);
    height: var(--movie-height);
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-family: Roboto;
    font-style: normal; 
    color: white;
}

.movie::after {
    content: "";
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
    background: 
        radial-gradient(100.04% 253.78% at 0% 0%, 
        rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0.1) 100%);        
    border-radius: calc(var(--movie-width)*30/440);
    box-shadow: 0 0 0 1px rgb(255, 255, 255, 0.25);
    backdrop-filter: blur(30px);
    
}

#title {
    margin: calc(var(--movie-width) * 20 / 440) 0 calc(var(--movie-width) * 10 / 440) 0;
    width: calc(var(--movie-width) * 400 / 440);
}

.head {
    font-size: var(--head-font);
}

.zone {
    height: calc(var(--movie-width) * 430 / 440);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* box-shadow: 0 0 0 1px rgb(255, 255, 255, 0.5); */
}


.movieInfo {
    height: calc(var(--movie-width) * 280 / 440);
    width: calc(var(--movie-width) * 400 / 440);
    border-radius: calc(var(--movie-width)*20/440);
    overflow: hidden;
    box-shadow: 0 0 0 1px rgb(255, 255, 255, 0.15);
    background: radial-gradient(100.04% 253.78% at 0% 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.6) 100%);
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: row;
}

.moviePicInfo {
    height: 100%;
    width: 50%;
    object-fit: cover;
}

.movieTextInfo {
    position: relative;
    height: 90%;
    width: 40%;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    color: white;   
}

.movieTextInfo .name{
    color: #282D4F;
    font-size: calc(var(--movie-width) * 20 / 440);
}

.movieTextInfo .wrapinfo{
    position: fixed;
    margin-top: 75px;
}

.movieTextInfo .info{
    display: flex;
    flex-direction: row;
    font-size: calc(var(--movie-width) * 15 / 440);
    margin-top: calc(var(--movie-width) * 10 / 440);
    color: #282D4F;
}

.movieInfo .icon {
    width: calc(var(--movie-width) * 20 / 440);
    height: calc(var(--movie-width) * 20 / 440);
    border-radius: 100%;
    background-color: #282D4F;
    margin-right: calc(var(--movie-width) * 5 / 440);
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(var(--movie-width) * 775 / 440);
    /* padding: calc(var(--movie-width) * 5 / 440); */
}


.otherMovie {
    /* box-shadow: 0 0 0 1px rgb(255, 255, 255, 0.5); */
    width: calc(var(--movie-width) * 400 / 440);    
    margin: calc(var(--movie-width) * 15 / 440) 0;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 30%, black 70%, transparent 100%);
}

.otherMovie::-webkit-scrollbar {
    display: none;
  }


#right, #left {
    position: absolute;
    z-index: 99;
    cursor: pointer;
    width: calc(var(--movie-width) * 30 / 440);
    height: calc(var(--movie-width) * 30 / 440);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
}

#left {    
    left:0;
    top: calc(50% - var(--movie-width) * 15 / 440);
}

#right {
    right: 0;
    top: calc(50% - var(--movie-width) * 15 / 440);
}

.left-right-fixer {    
    position: relative;
}

@keyframes lastMovie {
    0%   {box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);filter: brightness(0.7);}
    100% {box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0);filter: brightness(0.6);}
  }


.otherMovie .mv-N {
    height: calc(var(--movie-width) * 90 / 440);
    width: calc(var(--movie-width) * 65 / 440);
    border-radius: calc(var(--movie-width)*15/440);
    overflow: hidden;
    /* box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5); */
    cursor: pointer;
    filter: brightness(0.4);
    animation-name: lastMovie;
    animation-duration: 0.25s;
    margin: 5px 0px 0px 0px;
}

@keyframes movieHover {
    0%   {box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0);filter: brightness(0.7);}
    100% {box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);filter: brightness(0.8);}
  }

.otherMovie .mv-N:hover {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
    animation-name: movieHover;
    animation-duration: 0.25s;
    filter: brightness(0.8);
}

@keyframes nextMovie {
    0%   {box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);filter: brightness(0.7);}
    100% {box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);filter: brightness(1);}
  }

.otherMovie .mv-Y {
    height: calc(var(--movie-width) * 100 / 440);
    width: calc(var(--movie-width) * 75 / 440);
    border-radius: calc(var(--movie-width)*15/440);
    overflow: hidden;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    filter: brightness(1);
    animation-name: nextMovie;
    animation-duration: 0.25s;
    margin: 1px 0px 1px 0px;
}


.otherMovie img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.otherMovie .empty1 {
    width: calc(var(--movie-width) * 82.5 / 440);
}

.otherMovie .empty2 {
    width: calc(var(--movie-width) * 65 / 440);
}

.function {
    font-size: var(--head-font);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(var(--movie-width) * 70 / 440);
    /* box-shadow: 0 0 0 1px rgb(255, 255, 255, 0.5); */
}

.selector {
    width: calc(var(--movie-width) * 400 / 440);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@keyframes lastButton {
    0% {box-shadow: 0 0 0 1px var(--selector-hover-border);}
    100% {box-shadow: 0 0 0 0px var(--selected-border);}
}

.function .button-N {
    font-size: calc(var(--movie-width) * 18 / 440);
    color: white;
    background-color: var(--selector-color);    
    padding: 
        calc(var(--movie-width) * 8 / 440) 
        calc(var(--movie-width) * 30 / 440);
    border-radius: calc(var(--movie-width) * 40 / 440);
    cursor: pointer;
    animation: lastButton;
    animation-duration: 0.25s;
}

@keyframes buttonHover {
    0%   {box-shadow: 0 0 0 0px var(--selector--border);}
    100% {box-shadow: 0 0 0 1px var(--selector-hover-border);}
  }

.function .button-N:hover {
    box-shadow: 0 0 0 1px var(--selector-hover-border);
    animation: buttonHover;
    animation-duration: 0.25s;

}

@keyframes nextButton {
    0%   {background: var(--selector-hover-color);}
    100% {background: var(--selected-color);}
  }

.function .button-Y {
    font-size: calc(var(--movie-width) * 18 / 440);
    color: white;
    background: var(--selected-color);
    padding: 
        calc(var(--movie-width) * 8 / 440) 
        calc(var(--movie-width) * 30 / 440);
    box-shadow: 0 0 0 1px var(--selected-border);
    border-radius: calc(var(--movie-width) * 40 / 440);
    box-shadow: 1px 1px 0.5px 1px var(--selected-border);
    animation: nextButton;
    animation-duration: 0.25s;
    box-shadow: 0 0 0 1px var(--selected-border);
}

.add-on {
    height: calc(var(--movie-width) * 145 / 440);
}

.add-on .selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-on .button-N {
    width: calc(var(--movie-width) * 120 / 440);
    height: calc(var(--movie-width) * 107 / 440);
    font-size: calc(var(--movie-width) * 18 / 440);
    color: white;
    background-color: var(--selector-color);    
    padding: 
        calc(var(--movie-width) * 8 / 440) 
        calc(var(--movie-width) * 30 / 440);
    border-radius: calc(var(--movie-width) * 40 / 440);
    cursor: pointer;
    animation: lastButton;
    animation-duration: 0.25s;
}

.confirm {
    font-size: calc(var(--movie-width) * 18 / 440);
    color: white;
    background: #FF6C00;
    width: 90%;
    padding: 6px 0px 6px 0px;
    margin: 20px 0px 20px 0px;
    text-align: center;
    border-radius: calc(var(--movie-width) * 40 / 440);
}

.confirm:hover {
    box-shadow: 0 0 0 1px #fff;
    cursor: pointer;
    animation-name: buttonHover;
    animation-duration: 0.35s;
}
