.movie {
    position: relative;
    z-index: 2;
    width: var(--movie-width);
    min-height: var(--movie-height);
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
}

.movie::after {
    content: "";
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
    border-radius: calc(var(--movie-width) * 30 / 440);

}

#title {
    position: absolute;
    top: 3.5em;
    height: calc(var(--movie-width) * 20 / 440);
    text-align: center;
    font-size: 100%;
    color: #f4f4f4;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.head {
    position: absolute;
    font-size: var(--head-font);
    width: 90%;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    counter-reset: step;
}

.head li {
    list-style-type: none;
    width: calc(var(--movie-width) * 40 / 440);
    height: calc(var(--movie-width) * 35 / 440);
    padding-top: calc(var(--movie-width) * 5 / 440);
    border-radius: 50%;
    text-align: center;
    text-justify: center;
    justify-content: center;
    align-items: center;
    color: #f4f4f4;
}

.head li::before {
    content: counter(step);
    counter-increment: step;
}

.head li::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 12%;
    height: 1.5px;
    transform: translate(30%,calc(var(--movie-width) * 14 / 440));
    background: rgba(255, 255, 255, 0.7);
}

.head li:last-child::after {
    width: 0;
}

.head .completeStep::after {
    background: rgb(255, 255, 255);
}


.head .completeStep {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 2px 2px 10px 1px #1e162bb9;
}

.head .inStep {
    box-shadow: 0 0 10px 1px #ffffff;
    transition: 0.25s;
}

.head .uncompleteStep {
    box-shadow: 0 0 0 2px rgb(255, 255, 255, 0.3);
}

.disabled {
    box-shadow: 0 0 0 0px rgba(255, 255, 255) inset;
}

.left {
    left: 5%;
}

.right {
    right: 5%;
}

.reset {
    right: 5%;
    left: 5%;
    margin: auto;
    width: fit-content;
    position: absolute;
    cursor: pointer;
    width: calc(var(--movie-width) * 50 / 440);
    height: calc(var(--movie-width) * 50 / 440);
    border-radius: calc(var(--movie-width) * 25 / 440);
    top: auto;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.reset img{
 height: 40%;
 opacity: 0.7;
}

.right,
.left {
    position: absolute;
    cursor: pointer;
    width: calc(var(--movie-width) * 150 / 440);
    height: calc(var(--movie-width) * 50 / 440);
    border-radius: calc(var(--movie-width) * 25 / 440);
    color: white;
    top: auto;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.enabled {
    background: radial-gradient(100.04% 253.78% at 0% 0%, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.1) 100%);
    box-shadow: 2px 2px 10px 1px #1e162b3f;
}

.enabled:hover {
    background: radial-gradient(100.04% 253.78% at 0% 0%, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
}

.page,
.page2,
.page3,
.page4,
.pageC {
    position: absolute;
    width: 85%;
    height: 83%;
    top: calc(var(--movie-width) * 20 / 440 + 3.5em);
    bottom: calc(var(--movie-width) * 50 / 440);
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    animation: pagevisit 0.5s 1 linear both;
    animation-timing-function: ease;
}

.page2,
.page3,
.page4,
.pageC {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.page>div,
.page2>div,
.page3>div,
.page4>div {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation: infovisit 0.25s 1 linear both;
    animation-timing-function: ease;
    cursor: pointer;
    overflow: hidden;
}

.confirm {
    box-shadow: 0 0 0 0 #fff;
    background: #FF6C00;
}

.confirm:hover {
    cursor: pointer;
}

.confirm,
.right,
.left {
    padding-bottom: calc(var(--movie-width) * 2 / 440);
    font-size: calc(var(--movie-width) * 20 / 440);
}


@keyframes confirm {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        width: calc(var(--movie-width) * 150 / 440);
    }
}

@keyframes confirmP {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.confirm {
    animation: confirm 0.5s 1 both;
}

.confirm p {
    animation: confirmP 0.5s 1 both;
}

.left img,
.right img {
    width: 20%;
    opacity: 0.7;
    /* transition: 0.5s; */
}

.enabled:hover img {
    opacity: 1;
}





.disabled img,
.invalid img,
.invalid p {
    opacity: 0.2;
}

.disabled
    {
    cursor: unset;
    background:
        radial-gradient(100.04% 253.78% at 0% 0%,
            rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
}