
.page {    
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.page > div {
    margin: 2% 1%;

}

@keyframes pagevisit {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

@keyframes infovisit {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
    
}


.movieInfo {
    position: relative;
    height: calc(var(--movie-width) * 252 / 440);
    /* width: calc(var(--movie-width) * 400 / 440); */
    width: calc(var(--movie-width) * 171 / 440);
    border-radius: calc(var(--movie-width)*20/440);
    overflow: hidden;
    /* box-shadow: 0 0 0 1px rgb(255, 255, 255, 0.15); */
    /* background: radial-gradient(100.04% 253.78% at 0% 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.6) 100%); */
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: row;
    
}

.moviePicInfo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* .moviePicInfo {
    height: 100%;
    width: 50%;
    object-fit: cover;
} */

@keyframes moviehoverrr {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.movieInfo .movieTextInfo{    
    position: absolute;
    /* background: linear-gradient(0deg,#101220,#1c1f36c2); */
    background: linear-gradient(135deg , #23113B , #731a39);
    /* background: linear-gradient(135deg , #31133D , #731a39); */
    /* background: linear-gradient(135deg , #B33F2B , #731a39); */
    /* background: linear-gradient(220deg , #da4328 , #a31748); */
    /* background: linear-gradient(65deg ,#310669 , #c91a57);
    filter: brightness(120%); */
    /* border: solid 1px rgba(252, 252, 252, 0.144); */
    /* border-top-left-radius: calc(var(--movie-width) * 22 / 440); */
    width: 100%;
    height: 100%;
    justify-content: space-between;
    cursor: pointer;
    animation: moviehoverrr;
    animation-direction: reverse;
    transition: 0.5s;   
    opacity: 0;
}

.movieInfo:hover {
    /* box-shadow: 0 0 0px 1px rgb(255, 255, 255, 0.5); */
    transition: 0.5s;
}

.movieInfo{
    transition: 0.5s;    
    box-shadow: 2px 2px 7px 1px #1e162b;
    
}

.movieInfo:hover .movieTextInfo {
    animation: moviehoverrr;
    transition: 0.5s;   
    opacity: 1;
}

.movieInfo .movieTextInfo > div:not(.selector){
    position: absolute;
    width: 85%;
    height: 80%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



@keyframes moviehoverUp {
    0%{
        opacity: 0;
        transform: translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes moviehoverDown {
    0%{
        opacity: 0;
        transform: translateY(-50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

.movieTextInfo .name{
    /* opacity: 0; */
    color: white;
    font-size: 95%;
    text-align: center;
    transform: translateY(-50%);
    animation: moviehoverDown;
    animation-direction: reverse;
    transition: 0.5s;
}

.movieTextInfo .wrapinfo{
    /* opacity: 0; */
    bottom: 0;
    height: fit-content;    
    transform: translateY(50%);
    animation: moviehoverUp;
    animation-direction: reverse;
    transition: 0.5s;
}

.movieInfo:hover .movieTextInfo .name { 
    z-index: 1;
    opacity: 1;   
    transform: translateY(0);
    animation: moviehoverDown;
    transition: 0.5s;
}

.movieInfo:hover .movieTextInfo .wrapinfo { 
    z-index: 1;
    opacity: 1;   
    transform: translateY(0);
    animation: moviehoverUp;
    transition: 0.5s;
}

.movieTextInfo .info{
    display: flex;
    flex-direction: row;
    font-size: 57%;
    margin-top: 4%;
    color: white;
}

.movieInfo .icon {
    width: calc(var(--movie-width) * 25 / 440);
    height: calc(var(--movie-width) * 25 / 440);
    border-radius: 100%;    
    font-size: 100%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
    margin-right: 5%;
    transform: translateY(-10%);
}

.fas {
    display: flex;
    justify-content: center;
    margin-top:calc(var(--movie-width) * 3.5 / 440);
    transform: translateY(calc(var(--movie-width) * 1.2 * (-1) / 440));
    opacity: 0.9;
}


.movieInfo .icon {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page .selector {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    bottom: 0; right: 6%;
    top: 80%;
    color: white;
    width: calc(var(--movie-width) * 40 / 440);
    height: calc(var(--movie-width) * 40 / 440);
    border-radius: 50%;
    /* background: red; */
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
}




/* 
.page .selected .movieTextInfo > div{
    transition: 0.5s;
    opacity: 1;

}
.page .selected .movieTextInfo{
    transition: 0.5s;
    opacity: 1;

}

 */

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
 .page .selected:after{
    z-index: 0;
    content: "";
    position: absolute;
    background: linear-gradient(135deg , #da4328 , #a31748);
    width: 100%;
    height: 100%;
    animation: appear 0.5s 1 both;

}

.page .selected .movieTextInfo{
    /* background: linear-gradient(135deg , #da4328 , #a31748); */
    opacity: 1;
}

.page .selected .name , .page .selected .wrapinfo{
    z-index: 1;
    opacity: 1;
    transform: translateY(0);
}

.page .movieInfo:hover {
    /* transition: 0s; */
    box-shadow: 0 0 0 1.5px rgb(255, 255, 255, 0.7) ;
}

.page .selected:hover {
    /* transition: 0s; */
    box-shadow: 2px 2px 7px 1px #1e162b;
}