.page2{
    color: white;
}

.page2 > :nth-child(1) .soundpic img{
    transform: scale(0.8) translateY(-10%);
}

.page2 > :nth-child(2) .soundpic img{
    transform: scale(1.3);
}

.page2 .selected , .sound , .page2 .invalid{
    width: 80%;
    height: 40%;
    margin: 5% 0 ;
    border-radius: calc(var(--movie-width) * 30 / 440);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.sound:hover {
    transition: 0.2s;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.page2 .soundpic{
    position: relative;
    width: calc(var(--movie-width) * 100 / 440);
    height: calc(var(--movie-width) * 100 / 440);
}

.soundpic > img {
    width: 100%;
}

.sound div:first-child{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: calc(var(--movie-width) * 30 / 440);
    background: 
            radial-gradient(100.04% 253.78% at 0% 0%, 
         rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
    opacity: 0;
    transition: 0.5s;
    animation-direction: reverse;
    animation-timing-function: ease;
}

.sound:hover div:first-child{
    transition: 0.5s;
    animation-timing-function: ease;
}

.page2 .selected div:first-child{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: calc(var(--movie-width) * 30 / 440);
    background: 
            radial-gradient(100.04% 253.78% at 0% 0%, 
         rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
    opacity: 1;
    transition: 0.5s;
}

.page2 .selected {
    transition: 0.25s;
}
