.pageS {
    position: absolute;
    width: 85%;
    height: 83%;
    top: calc(var(--movie-width) * 20 / 440 + 3.5em);
    bottom: calc(var(--movie-width) * 50 / 440);
    left: 0;
    right: 0;
    margin: auto;
}

.pageS .on {
    transform: scale(1);animation: infovisit 0.25s 1 linear both;
    animation-timing-function: ease;
    transition: 0.25s;
}

@keyframes off {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
    
}

.pageS .off {
    animation: off 0.25s 1 linear both;
}

.success {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #f4f4f4;
    width:  calc(var(--movie-width) * 350 / 440);
    height: calc(var(--movie-width) * 223 / 440);
    border-radius: calc(var(--movie-width) * 30 / 440);
    display: flex;
    flex-direction: column;
    background: linear-gradient(160deg , rgba(160, 32, 76, 1) , #2b0f4d);
    box-shadow: 2px 2px 7px 1px #1e162b;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation-timing-function: ease;
    overflow: hidden;
}

.success div:first-child {
    display: flex;
    flex-direction: column;
    height: calc(var(--movie-width) * 170 / 440);
}

.success div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(var(--movie-width) * 53 / 440 - 1px);
    border-top: solid 1px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    background: linear-gradient(90deg , #2b0f4d, rgba(160, 32, 76, 0) , #2b0f4d00);
    transition: 0.5s;
}

.success div:nth-child(2):hover {
    background: linear-gradient(90deg , #2b0f4d, rgba(160, 32, 76, 1) , #2b0f4d);
    transition: 0.5s;
}

.success img{
    width: calc(var(--movie-width) * 120 / 440);
    height: calc(var(--movie-width) * 120 / 440);
    align-self: center;
}

.success p {
    width: 100%;
    text-align: center;    
    font-size: 80%;
}


