:root {
  --dfa-width: 450px;
  --movie-width: 290px;
  --movie-height: calc(var(--movie-width) * 80 / 44);
  --head-font: calc(var(--movie-width) * 20 / 440);
  --body-with: calc((var(--dfa-width) + var(--movie-width)));
}

* {
  padding: 0;
  margin: 0;
  top: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}


.body,
body,
.loading-body {
  position: relative;
  min-width: var(--body-with);
  min-height: var(--movie-height);
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  background: -webkit-linear-gradient(180deg, #23103A 7.23%, #282D4F 100%);
  background: -moz-linear-gradient(180deg, #23103A 7.23%, #282D4F 100%);
  background: -ms-linear-gradient(180deg, #23103A 7.23%, #282D4F 100%);
  background: -o-linear-gradient(180deg, #23103A 7.23%, #282D4F 100%);
  background: linear-gradient(180deg, #23103A 7.23%, #282D4F 100%);
  display: flex;
  flex-direction: column;
}

.loading-body {
  flex-direction: row;
}

.ellipse1 {
  position: absolute;
  width: 40vw;
  height: 40vw;
  border-radius: 100%;
  top: -15vw;
  left: -10vw;
  background: rgba(160, 32, 76, 0.8);
  filter: blur(7rem);
}

.ellipse2 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 100%;
  top: 10vw;
  left: -15%;
  background: rgba(255, 108, 0, 0.8);
  filter: blur(5rem);
}

.ellipse3 {
  position: absolute;
  width: 40vw;
  height: 40vw;
  border-radius: 100%;
  top: 80vh;
  right: 10vw;
  background: #A0204C;
  filter: blur(3rem);

}

div.dfa {
  min-width: var(--dfa-width);
  width: calc(100% - var(--movie-width) - 2%);
  min-height: var(--movie-height);
  height: 90%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.container {
  width: 100%;
  color: white;
  border: 0.01rem solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  border-radius: 1rem;
  backdrop-filter: blur(3rem);
  padding: 0.75% 1% 0.75% 1%;
  height: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: radial-gradient(100.04% 253.78% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.01) 100%);

  justify-content: center;
}

.container> :first-child {
  width: 3.5em;
  height: fit-content;
  margin-right: -0.5em;
}


.text {
  position: relative;
  color: white;
  font-style: normal;
  font-size: 1rem;
  margin: 0 0.5%;
  width: calc(99% - 3.5em);
  height: fit-content;
  display: flex;
  flex-direction: row;
  padding: 0.5em 0;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-mask-image: linear-gradient(to left ,rgb(255, 255, 255) 99%, rgba(255, 255, 255, 0) 100%), linear-gradient(to right, rgba(0,0,0,1) 99%, rgba(0,0,0,0) 100%);
  -webkit-mask-size: 50% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left, right;
}

.text::-webkit-scrollbar {
  position: absolute;
  border-radius: 4px;
  height: 7px;
  cursor: pointer;
  visibility: hidden;
}

.text::-webkit-scrollbar-thumb {
  visibility: hidden;
  border-radius: 4px;
  cursor: pointer;
}

.container:hover .text::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

.container:hover .text::-webkit-scrollbar-thumb {
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.548);
}

.panel ::-webkit-scrollbar {
  visibility: hidden;
}

.panel ::-webkit-scrollbar-corner {
  visibility: hidden;
}

.panel:hover ::-webkit-scrollbar {
  visibility: visible;
  position: absolute;
  height: 15px;
  width: 15px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);

}

.panel:hover ::-webkit-scrollbar-thumb {
  visibility: hidden;
  border-radius: 7px;
  cursor: pointer;
}

.panel:hover ::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

.panel:hover ::-webkit-scrollbar-thumb {
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.37);
}

.panel:hover ::-webkit-scrollbar-corner {
  visibility: visible;
  background: rgba(255, 255, 255, 0.137);
}

.allContainer {
  display: flex;
  flex-direction: row;
  height: 92%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.inputComponent {
  padding: 0.1em 0.5em 0.3em 0.5em;
  height: 1em;
  margin-left: 0.5em;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  width: auto;
  overflow: visible;
}

.allInput {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  transform: translateY(3.5px);
}

div.credit-container {
  width: 95%;
  height: 90%;
  box-sizing: border-box;
  background: radial-gradient(100.04% 253.78% at 0% 0%, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0.07) 100%);
  border: 0.0625rem solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(3rem);
  border-radius: 1rem;
  margin: auto;
  padding: 1% 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.shown {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s linear;
  display: block;

}

.hidden {
  visibility: hidden;
  display: none;
  opacity: 0;
  transition: visibility 0s 0.25s, opacity 0.25s linear;
}

div.credit-container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

div.credit-container::after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

div.cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.credit-row {
  display: flex;
  justify-content: center;
}

h1.title {
  text-align: center;
  font-size: 3rem;
  margin: 0 0 1% 0;
  color: #FF6C00;
  font-family: verdana;
  font-size: 3.25rem;
  -webkit-text-stroke: 0.10rem white;
}

div.close-container {
  border-radius: 50%;
  border: 0.0625rem solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  display: table;
  overflow: visible;
  right:1%;
  top:2%;
  cursor: pointer;
}

div.close-container:hover {
  background: radial-gradient(100.04% 253.78% at 0% 0%, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0.07) 100%);
}

div.close-text {
  font-weight: 700;
  font-size: 1.5rem;
  position: relative;
  top: 15%;
}