:root {
  --dfa-width: 450px;
  --movie-width: 290px;
  --movie-height: calc(var(--movie-width) * 90 / 44);
  --head-font: calc(var(--movie-width) * 20 / 440);
  --body-with: calc((var(--dfa-width) + var(--movie-width)));
}

* {
  padding: 0;
  margin: 0;
  top: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}


.body {
  position: relative;
  min-width: var(--body-with);
  min-height: var(--movie-height);
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  background: -webkit-linear-gradient(180deg, #23103A 7.23%, #282D4F 100%);
  background: -moz-linear-gradient(180deg, #23103A 7.23%, #282D4F 100%);
  background: -ms-linear-gradient(180deg, #23103A 7.23%, #282D4F 100%);
  background: -o-linear-gradient(180deg, #23103A 7.23%, #282D4F 100%);
  background: linear-gradient(180deg, #23103A 7.23%, #282D4F 100%);
  /* background-attachment: fixed; */
  display: flex;
  flex-direction: column;
}

.ellipse1 {
  position: absolute;
  width: 40vw;
  height: 40vw;
  border-radius: 100%;
  top: -15vw;
  left: -10vw;
  background: rgba(160, 32, 76, 0.8);
  -webkit-filter: blur(7rem);
  filter: blur(7rem);
  /* z-index: -1; */
}

.ellipse2 {
  position: absolute;
  width: 25vw;
  height: 25vw;
  border-radius: 100%;
  top: 10vw;
  left: -15%;
  background: rgba(255, 108, 0, 0.8);
  -webkit-filter: blur(5rem);
  filter: blur(5rem);
  /* z-index: -2; */
}

.ellipse3 {
  position: absolute;
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  top: 60vh;
  right: 10vw;
  background: #A0204C;
  -webkit-filter: blur(3rem);
  filter: blur(3rem);
  /* z-index: -1; */

}

.navbar {
  width: 100%;
  height: 8%;
  background: linear-gradient(270deg, #A0204C 0%, #282D4F 100%);
  list-style-type: none;
  display: flex;
  flex-direction: row;
  position: sticky;
  z-index: 999;
}

img.logo {
  width: 2.5rem;
  margin: 0.25rem 0 0.25rem 0.5rem;
}

p.title {
  margin: auto 0 auto 1%;
  color: #FF6C00;
  font-style: normal;
  font-size: 1.05rem;
}

div.dfa {
  /* background: #a1536e; */
  min-width: var(--dfa-width);
  width: calc(100% - var(--movie-width) - 2%);
  height: var(--movie-height);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.container {
  width: 100%;
  color:white;
  /* background: radial-gradient(100.04% 253.78% at 0% 0%, rgba(255, 255, 255, 0.49) 0%, rgba(255, 255, 255, 0.07) 100%); */
  border: 0.01rem solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  border-radius: 1rem;
  backdrop-filter: blur(3rem);
  padding: 0.75% 1% 0.75% 1%;  
  /* height: 10%; */
  height: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: radial-gradient(100.04% 253.78% at 0% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.01) 100%);
    
  justify-content: center;
}

.container > :first-child {
  /* background-color: red; */
  width: 3.5em;
  height: fit-content;
  margin-right: -0.5em;
}


.text {
  position: relative;
  /* background-color: red; */
  color: white;
  font-style: normal;
  font-size: 1rem;
  margin: 0 0.5%;
  width: calc(99% - 3.5em);
  height: fit-content;
  display: flex;
  flex-direction: row;
  padding: 0.5em 0;
  overflow-x: scroll;
  overflow-y: hidden;
}

.text::-webkit-scrollbar {
  position: absolute;
  border-radius: 4px;
  height: 7px;
  cursor: pointer;
  visibility: hidden;
}
.text::-webkit-scrollbar-thumb {
  visibility: hidden;
  border-radius: 4px;  
  cursor: pointer;
}

.container:hover .text::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

.container:hover .text::-webkit-scrollbar-thumb {
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.548);
}

.panel ::-webkit-scrollbar {
  visibility: hidden;
}

.panel ::-webkit-scrollbar-corner {
  visibility: hidden;
}

.panel:hover ::-webkit-scrollbar {
  visibility: visible;
  position: absolute;
  height: 15px;
  width: 15px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);

}
.panel:hover ::-webkit-scrollbar-thumb {
  visibility: hidden;
  border-radius: 7px;  
  cursor: pointer;
}
.panel:hover ::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

.panel:hover ::-webkit-scrollbar-thumb {
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.548);
}
.panel:hover ::-webkit-scrollbar-corner{
  visibility: visible;
  background: rgba(255, 255, 255, 0.137);
}
/* .layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: calc(5% + 20px + var(--dfa-width) + var(--movie-width));
  width: 95%;
  padding: 0 2.5%;
} */

.allContainer {
  /* background: red; */
  display: flex;
  flex-direction: row;
  height: 92%;
  /* overflow: hidden; */
  width: 100%;
  justify-content: center;
  align-items: center;
  /* transform: translateY(4%); */
}

.inputComponent {
  padding:0.1em 0.5em 0.3em 0.5em;
  height: 1em;
  margin-left: 0.5em;
  border-radius: 1em;
  /* background:#ff3d81; */
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
  width: auto;
  overflow: visible;
}

.allInput{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  transform: translateY(3.5px);
}